<div class="__page mt-45">
        <div class="container">
            <div class="_title mb-45 text-left">
                <h1>Users List</h1>
            </div>
            <div class="row">
                <mat-table [dataSource]="dataSource" matSort>
                    
                    <ng-container matColumnDef="id">
                        <mat-header-cell mat-sort-header *matHeaderCellDef> id </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="name">
                        <mat-header-cell mat-sort-header *matHeaderCellDef> name </mat-header-cell>
                        <mat-cell  *matCellDef="let row"> {{row.Name}} </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="email">
                        <mat-header-cell  mat-sort-header *matHeaderCellDef> email </mat-header-cell>
                        <mat-cell  *matCellDef="let row"> {{row.Email}} </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="phone">
                        <mat-header-cell  mat-sort-header *matHeaderCellDef> phone </mat-header-cell>
                        <mat-cell  *matCellDef="let row"> {{row.Phone}} </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="address">
                        <mat-header-cell  mat-sort-header *matHeaderCellDef> Address </mat-header-cell>
                        <mat-cell  *matCellDef="let row"> {{row.Address}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="registerDate">
                        <mat-header-cell mat-sort-header *matHeaderCellDef> Register Date </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.RegisterDate | date: 'EEEE, MMMM d, y'}} </mat-cell>
                    </ng-container>
                    
                    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div class="tabelPaginator">
                    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>