.mat-table, .tabelPaginator {
    width: 100%;
}

.mat-cell {
    word-break: break-word;
    font-size: 0.8rem;
    margin: 0 3px;
}


@media screen and (max-width: 767px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
    
    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    
    
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 4%;
        padding-left: 4%;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }

    .mat-footer-row::after, .mat-header-row::after, .mat-row::after {
        content: none !important;
    }
}