
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/Products']">Softec App Task</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Products']" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Orders']" routerLinkActive="active">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Users']" routerLinkActive="active" >Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>