.__page {
    .card {
        transition: 0.3s;
        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }
    }

    .flex {
        justify-content: space-around;

        p {
            &:last-child {
                color: #400071;
                font-weight: 700;
            }
        }
    }
}
