<div class="__page mt-45">
    <div class="container">
        <div class="_title mb-45 text-left">
            <h1>Products</h1>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-10" *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: p}; let i = index">
                <div class="card">
                    <img class="card-img-top" src="{{product.ProductImg}}" alt="product image">
                    <div class="card-body">
                        <h5 class="card-title">{{product.ProductName}}</h5>
                        <div class="flex">
                            <p class="card-text">Available Pieces</p>
                            <p class="card-text">{{product.AvailablePieces}} Piece</p>
                        </div>
                        <div class="flex">
                            <p class="card-text">Product Price</p>
                            <p class="card-text">{{product.ProductPrice}} EGP</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right paginations mt-15">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>