<div class="__page mt-45">
    <div class="container">
        <div class="_title mb-45 text-left">
            <h1>Orders</h1>
        </div>
        <div class="row __orderCard pt-10 pb-10 mb-15"
            *ngFor="let order of orders | paginate: { itemsPerPage: 8, currentPage: p}; let i = index">
            <div class="col-md-2 col-4">
                <img src="../../../assets/imgs/product.jpg" alt="order image">
                <!-- <div class="link" (click)="toOrderDetailsPage(order)">View Details</div>   -->
                <!-- <a class="link" [routerLink]="['/Order', order.OrderId, 'Details']" >View Details</a> -->
                <a class="link" routerLink="Order/{{order.OrderId}}/Details" [state]="{ order: order, userId: order.UserId, products: order.Products }" >View Details</a>
            </div>
            <div class="col-md-5 col-8">
                <h4>
                    <span>Order Name/Number:</span> &nbsp; {{order.OrderId}} <br>
                    <small>{{order.OrderDate | date: 'EEEE, MMMM d, y, h:mm:ss a'}}</small>
                </h4>
                <p><span>Payment Type:</span> &nbsp; {{order.PaymentType}}</p>
                <p><span>User:</span> &nbsp; {{order.UserId}}</p>
            </div>
            <div class="col-md-5 col-12 text-center border-left">
                <h4>Products: </h4>
                <div class="flex" *ngFor="let product of order.Products">
                    <p>
                        <span>Product:</span> &nbsp; {{product.ProductId}}
                    </p>
                    <p>
                        <span>Quantity:</span> &nbsp; {{product.Quantity}}
                    </p>
                </div>
            </div>
        </div>
        <div class="text-right paginations mt-15">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>