.__orderCard {
    border: 1px solid #ccc;
    transition: 0.4s;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: 0.4s;
    }

    img {
        height: 100px;
        width: 130px;
        object-fit: contain;
    }

    .link {
        text-decoration: underline;
        font-size: 1rem;
        font-weight: 600;
        color: #5a5a5a;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
            transition: 0.4s;
            color: #400071;
            text-decoration: none;
        }
    }

    h4 {
        font-weight: 400;
        small {
            font-size: 0.8rem;
            font-weight: 400;
        }
    }

    p {
        margin: 5px 0;
    }

    span {
        font-weight: 600;
        color: rgba(64, 0, 113, 0.6);
    }


    .flex {
        justify-content: space-around;
    }
}


@media screen and (max-width: 767px) {
    div.col-md-5.col-12.border-left {
        border-top: 1px solid #dee2e6;
    }
}