.title {
    h5 {
        color: #400071;
    }
}


.__productCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;

    .flex {
        justify-content: space-around;
        align-items: center;
    }
    
    
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

p {
    font-size: 0.9rem;
    color: #000;
    
    span {
        color: #400071;
        font-weight: 600;
    }
}

.table {
    border: 1px solid gray;
    .thead-dark th {
        font-weight: 300;
    }
    td {
        vertical-align: inherit !important;
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}