<div class="__page mt-45">
    <div class="container">
        <div class="_title mb-45 text-left">
            <h1>Order {{orderId}} Details</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-12 mb-10">
                <div class="title">
                    <h5>Order Details</h5>
                </div>
                <div>
                    <p> <span>Name/Id:</span>  &nbsp; {{order.order.OrderId}}</p>
                    <p> <span>Order Date:</span>  &nbsp; {{order.order.OrderDate | date: 'EEEE, MMMM d, y, h:mm:ss a' }}</p>
                    <p> <span>Payment Type:</span>  &nbsp; {{order.order.PaymentType}}</p>
                    <div class="flex" *ngFor="let prod of products" style="justify-content: space-between;">
                        <p><span>Product Id/Name:</span> &nbsp; {{prod.ProductId}}</p>
                        <p><span>Quantity:</span> &nbsp; {{prod.Quantity}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 mb-10">
                <div class="title">
                    <h5>Product Details</h5>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Price</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productsData">
                            <td>{{product.ProductName}}</td>
                            <td>{{product.ProductPrice}}</td>
                            <td> <img src="{{product.ProductImg}}" alt="product image"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 col-12 mb-10">
                <div class="title">
                    <h5>User Details</h5>
                    <div *ngFor="let user of userData">
                        <p><span>Name:</span>  &nbsp; {{user.Name}}</p>
                        <p><span>Phone:</span>  &nbsp; {{user.Phone}}</p>
                        <p><span>Email:</span>  &nbsp; {{user.Email}}</p>
                        <p><span>Address:</span>  &nbsp; {{user.Address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>